{% extends "layout.njk" %}

{% block head %}
  <title>Contatos</title>
  <link rel="icon" href="/favicon.ico" type="image/x-icon"/>
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap" rel="stylesheet">
{% endblock %}

{% block content %}
  <header>
    <div>
      {% for contact in contacts %}
      <a href="{{ contact.url }}">{{ contact.name }}</a>
      {% endfor %}
    </div>
  </header>
{% endblock %}