{% extends "layout.njk" %}

{% block head %}
  <title>Detalhe do Curso</title>
{% endblock %}

{% block content %}
  <div class="modal-content">
    <iframe src='https://blog.rocketseat.com.br/{{slugId}}' frameborder="0"></iframe>
  </div>

  <div class="footer">

  </div>
{% endblock %}