{% extends "layout.njk" %}

{% block head %}
    <title>Conteúdos</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
{% endblock %}

{% block content %}
  <div id="wrapper">
    <h1>Conteúdos</h1>
  </div>

  <section class="cards">
    {% for course in courses %}
    <div class="card" id="{{ course.id }}">
      <div class="card__image-container">
        <img src="{{ course.image }}" alt="Vídeo Aula">
      </div>
      <div class="card__content">
        <p>{{ course.title }} </p>
        <br>
        <p>{{ course.role }}</p>
      </div>
      <div class="card__info">
        <p>Leitura:</p>
        <p>{{ course.duration }}</p>
      </div>
    </div>
    {% endfor %}

  </section>

  <script>
    const modalOverlay = document.querySelector('.modal-overlay');
    const cards = document.querySelectorAll('.card');

    for (let card of cards) {
      card.addEventListener("click", function(){
        const slugId = card.getAttribute('id');
        window.location.href = `/courses/${slugId}`
      })
    }
  </script>
{% endblock %}