<!DOCTYPE html>
<html>

  <head>
    {% block head %}
      <title>Desafio 3</title>
    {% endblock %}

    <link rel="stylesheet" href="/styles.css">
  </head>

  <body>
    <header>
      <div class="links">
        <a href="/contact">Contato</a>
        <a href="/">Sobre</a>
        <a href="/courses">Conteúdos</a>
      </div>
    </header>

    {% block content %} {% endblock%}
  </body>

</html>